# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

*.pyc

# Compiled Static libraries
*.lai
*.la
*.a

/build/
/build2/
/build*/
/build-win32/
/build-win64/
/install/

/dist*/
mac/
